*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-color: rgba(176, 228, 228, 0.512);
}
/* For main nevigation bar */
nav{
    background-color: aliceblue;
    position: sticky;
    top: 0;
    box-sizing: border-box;
}
.nevbar{
   
    height: 100px;
}
.nevbar img{
    position: absolute;

}
.nevbar #menu{
    margin-left:13%;
}
.nevbar ul .menu{
    display: inline-block;
    margin-right: 21px;
    margin-top: 68px;
}
/* using sudo selector to make under line effect while hovering */
.nevbar ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background: orangered;
    display: block;
    margin: auto;
    transition: 1.5s;
}
/* hovering effet on after sudo sedo selector */
.nevbar ul li:hover::after{
    width: 100%;
}
.nevbar ul li a{
    text-decoration: none;
    color: black;
    transition: 1.5s;
    font-weight: 700;
    padding: 5px;
    
}
.nevbar ul li a:hover{
    color: brown;
}
/* footer */
.footer {
    background: #A2C4C9;
    color: black;
    height: 500px;
    margin-top: 10%;
    padding: 43px;
  }
  /* bottom left's css with  */
  .bottom-left {
    border: 2px;
    display: inline-block;
    padding: 0px 10px;
    border-radius: 14px;
    padding-left: 20px;
  }
  /* playstore and app store image */
  .bottom-left img {
    width: 100px;
    height: auto;
    margin-top: 15px;
    margin-left: 21px;
    padding-left: 40px;
  }
  .bottom-left h3 {
    font-size: 20px;
    text-align: center;
    padding-left: 20px;
  }
  .bottom-left p {
    text-align: center;
    padding-left: 20px;
  }
  /* for upper middle */
  .bottom-middle {
    border: 2px;
    display: inline-block;
    position: absolute;
    width: 10%;
    margin: auto 300px;
    padding-right: 15px;
  }
  /* logo */
  .bottom-middle img {
      height: 182px;
      margin-top: -50px;
      margin-left: -100px;
  }
  /* CSS for right content */
  .bottom-right {
    border: 2px;
    display: inline-block;
    position: absolute;
    right: 0px;
    padding-right: 50px;
    text-align: center;
  }
  .bottom-right1 {
    border: 2px;
    display: inline-block;
    position: absolute;
    right: 0px;
    padding-right: 300px;
    text-align: center;
  }
  .bottom-right1 a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  .bottom-right1 a:hover {
    color: white;
    transition: 1s;
  }
  .bottom-right a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }

  .bottom-right a:hover {
    transition: 1s;
   color: white;
  }
  .bottom-right img{
    width: 150px;
  }
  

  /* Body part */
  /* class "bodycontent" */
  .bodycontent{
    display: flex;
    justify-content: space-between;
  }
  /* left part of the body */
  .left{
    width: 500px;
    padding: 40px;
  }
  /* class searchblog */
  .searchblog input{ 
    width: 290px;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
  }
  .searchblog button{
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    transition: 1s;
  }
  .searchblog button:hover{
    background-color: black;
    color: white;
  }
  /* categories */
  .categories{
    text-align: justify;
    margin-top: 100px;
    background-color:#efead824;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.273);
    padding: 20px;
    border-radius: 10px;
  }
  .categories ul li{
    list-style: none;
    margin-top: 12px;
  }
  .categories ul li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(18, 4, 121);
   transition: 1s;
   font-weight:200;
  }
  .categories ul li a:hover{
    font-size: 20px;
  }

  /* topblog */
  .topblog{
    text-align: justify;
    border-radius: 10px;
    margin-top: 100px;
    padding: 25px;
    background-color:#efead819;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.273);
  }
  .topblog ol li{
    font-weight: bold;
    margin-top: 12px;
  }
  .topblog ol li a{
    font-size: 20px;
    text-decoration: none;
    color:rgb(8, 8, 8) ;
   
  }
  .span-blog{
    font-size: 13px;
    color: #7b7e7fae;
  }

  /* class insta */
  .insta{
    padding: 20px;
  }
  .insta table{
    cursor: pointer;
    margin-left: -50px;
  }
  .span-insta{
    font-size: 13px;
    color: #7b7e7fae;
  }
  /* class "right" */
  .right{
    display: flex;
   justify-content: space-around;
    width:60%;
    padding: 25px;
  }
  .span-right{
    font-size: 13px;
    color: #7b7e7fae;
  }


  /* pagecounter class */
.pagecounter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pa-btn{
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  width: 80px;
  margin-left: 9px;
  height: 50px;
  border-radius: 10px;
  border: none;
  transition: 1s;
}
.pa-btn:hover{
  background-color: black;
  color: white;
}
